#mainContent{
    justify-content: center;
    align-self: center;
    display: flex;
}

#gameBoard{
    width: 700px;    
    height: 680px;
    border-style:solid;
    border-width:1px;
    border-color:black;
    margin:0;
    padding:0;
}
#scoreBoard{
    background: silver;
    width: 680px;    
    height: 80px;
    margin:10px 10px;
    position:relative;
    border-style:solid;
    border-width:1px;
    border-color:black;
}
#playBoard{
    background: slategray;
    margin:10px 10px;
    width:680px;
    height:550px;
    position:relative;
    border-style:solid;
    border-width:1px;
    border-color:black;
}
#player{
    position: center;
    background:green;
    height: 25px;
    width:25px;
}
#platform1{
    position: absolute;
    background:red;
    background-size:20px;
    height:25px;
    width:150px;
    top:400px;
    left:20px;
}
.btnStyle {
	border-radius: 4px;
	border: thin solid rgb(32, 146, 240);
	background-color: rgb(148, 158, 248);
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
	font-size:20px;
	color: #663300;
	padding: 5px 30px;
	margin:8px 70px;
}

.btnStyle:active {
	border: thin solid rgb(0, 156, 204);
	background-color: rgb(210, 226, 255);
	color: #669900;
	cursor: pointer;
}

.btnStyle:hover {
	border: thin solid rgb(0, 153, 255);
	background-color: rgb(220, 214, 252);
	color: #996633;
	cursor: pointer;
}